[mysqld]
# Default storage engine setting
default-storage-engine=INNODB

# Character set and collation setting
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci

# General log setting (0: disabled, 1: enabled)
general_log=0
general_log_file=/var/log/mysql/general.log

# pid file location setting
pid-file=/var/run/mysqld/mysqld.pid

# Default time zone setting
default-time-zone='+00:00'

# Authentication plugin setting
default-authentication-plugin=mysql_native_password

# SQL mode setting
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

[client]
# Default character set setting
default-character-set=utf8mb4
